<!DOCTYPE html>
<html lang="en" ng-app="materializeApp">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <!-- Materialize CSS -->
        <link rel="stylesheet" href="../static/css/materialize.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
        <script src="../static/js/jquery-3.1.1.min.js"></script>
        <script src="../static/js/angular.min.js"></script>
        <script src="../static/js/materialize.min.js"></script>
        <script src="../static/js/angular-materialize.min.js"></script>

        <!-- app -->
        <script type="text/javascript" src="../static/js/controllers/upload-controller.js"></script
        <script src="../static/js/index.js"></script>

        <title>Cloudict</title>

    </head>
    <body ng-controller="UploadController" class="dark-background">
        <nav>
              <div class="nav-wrapper">
                <a href="#" class="brand-logo center hide-on-med-and-up">Cloudict</a>
                <a href="#" class="brand-logo-left hide-on-med-and-down">Cloudict</a>
                <a href="#" data-activates="nav-drawer" class="button-collapse"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="http://github.com/WilderPereira/tf-clouds-classifier">Github</a></li>
                </ul>
                <ul id="slide-out" class="side-nav">
                  <li><div class="userView">
                    <div class="background">
                      <img src="img/header.jpg">
                    </div>
                    <a href="#!name"><span class="white-text name">Cloudict</span></a>
                  </div></li>
                  <li><a href="http://github.com/WilderPereira/tf-clouds-classifier">Github</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
              </div>
          </nav>
        <main>
            <div class="row">
                <label for="fileToUpload">Select a File to Upload</label><br />
                <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                <input type="button" name="sendFile" ng-click="uploadFile()" value="Classify" />
            </div>
            <div class="row">
            <span ng-bind="predicted"></span>
            </div>
        </main>


        <footer class="page-footer no-padding">
              <div class="footer-copyright">
                <div class="container">
                © 2017 Developed by Wilder Pereira
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
              </div>
        </footer>
    </body>
</html>